asgiref
certifi
cloudinary
Django
django-admin-interface
django-colorfield
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
drf-yasg
mysqlclient
Pillow
PyJWT
gunicorn
inflection
packaging
python-decouple
python-dotenv
python-slugify
drf-yasg
pytz
six
sqlparse
text-unidecode
typing_extensions
urllib3
uritemplate
