asgiref
certifi
charset-normalizer
cloudinary
coreapi
coreschema
Django
django-admin-interface
django-colorfield
django-cors-headers
django-rest-passwordreset
django-rest-swagger
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
drf-yasg
gunicorn
idna
inflection
itypes
Jinja2
MarkupSafe
mysqlclient
openapi-codec
packaging
Pillow
PyJWT
python-decouple
python-dotenv
python-slugify
pytz
PyYAML
requests
simplejson
six
sqlparse
text-unidecode
typing_extensions
uritemplate
urllib3
whitenoise
